<script>
	
    import { goto, beforeNavigate } from "$app/navigation";
	import { redirect } from "@sveltejs/kit";
    

    let num;
    async function getData(){
        let resp = await fetch('/api');
         num = await resp.json();
         alert(num.value);
     }
// let ci = 0;
// beforeNavigate(({to, cancel }) =>{alert('beda')});
// acync function red(){
//     let pizdec = await goto('/blog',{replaceState:true});
//     console.log(pizdec);
// } 
// acync function adgo(){
//     ci +=1;
//     if (ci >= 5){
//         await red();
//     }
// }
 
</script>
<h1>Домашнаяя страница</h1>


<!-- 
<div class = "button is-info" on:click ={getData}>  Knopka</div> -->
